/************************************/
/**** body  *************************/
/************************************/

head, html, body {
    background-color: black;
    margin: 0%;
    width: 100%;
    height: auto;
}

#symbol{
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 52.5%;
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    min-width: 7.5%;
    max-width: 7.5%;
    transform: translate(-50%, -50%);
    transition: all 1.5s ease;
    /* animation: fade-in 5.0s ease-in both; */
    opacity: 0.0;
    /* transition: all 1.5s ease; */
}

#symbol:hover{
    opacity: 1.0;
    filter: drop-shadow(0px 0px 0.75em #028090);
    /* box-shadow: 0px 0px 10px 10px rgba(255,255,255,1); */
    /* animation: fade-in 5.0s ease-in both; */
}

canvas {
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: black;
    animation: fade-in 5.0s ease-in both;
}

/* .fullScreen { 
    height: 100%; 
} */

/************************************/
/****  intro text  ******************/
/************************************/

.centered-element {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 35%;
    max-width: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;

    /* -webkit-animation: fade-in 2.0s ease-in both; */
    animation: fade-in 2.0s ease-in both;

}

.quote-text{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 140%;
    text-align: center;

}

#author {
    font-style: normal;
   text-align: right;
}

/************************************/
/****  logo  *************************/
/************************************/

#logo {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    min-width: 35%;
    max-width: 40%;
    
    /* -webkit-transition: all 1.5s ease; */
    transition: all 1.5s ease;
}

#logo:hover {
    filter: drop-shadow(0px 0px 0.75em crimson);
}

/************************************/
/****  audio button  ****************/
/************************************/

.stop-button {
    /* positioning */
    position: fixed;
    margin-right: auto;
    margin-bottom: auto;
    left: 98%;
    top: 96.5%;
    display: inline-block;
    z-index: 3;


    /* appearance */
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;

    border-top: 10px solid transparent;
    border-left: 17.5px solid white;
    border-bottom: 10px solid transparent;

}

.play-button {
    /* positioning */
    position: fixed;
    margin-right: auto;
    margin-bottom: auto;
    left: 98%;
    top: 96.5%;
    display: inline-block;
    z-index: 3;

    /* appearance */
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-color: white;
    text-align: center;
    text-decoration: none;

    height: 20px;
    width: 20px;
}

/************************************/
/****  animations  ******************/
/************************************/

.fade-out-element{
    /* -webkit-animation: fade-out 1s ease-out both; */
    animation: fade-out 2.0s ease-out both;
}

.fade-in-element{
    /* -webkit-animation: fade-in 2.0s ease-in both; */
    animation: fade-in 2.0s ease-in both;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}
	70% {
		transform: scale(1);
		filter: drop-shadow(0px 0px 0.5em crimson);
	}
	100% {
		transform: scale(0.95);
	}
}
 /* @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
} */
@keyframes fade-in {
    0% {
        /* transform: translate(-50%, -50%) scale(0.95); */
        opacity: 0;
    }
    100% {
        /* transform: translate(-50%, -50%) scale(1.0); */
        opacity: 1;   
    }
}

@keyframes fade-out {
    0% {
      opacity: 1;
      /* transform: translate(-50%, -50%) scale(1.0); */
    }
    100% {
      opacity: 0;
      /* transform: translate(-50%, -50%) scale(0.9); */
    }
}
  