html, head, body {
    background-color: black;
    margin: 0;
    height: 100%;
    width: auto;
}

p{
    color: white;
    display: block;
    margin-left: 10px;
    margin-bottom: auto;
    position: fixed;
    height: 100%;
    width: 100%;
}

.base {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  top: 50px;
}

.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 12px solid white;
  border-radius: 112px;
  left: 150px;
  top: 150px;
  margin-left: -107px; /* don't know why 107 ? */
  margin-top: -112px;
}
.bar, .overbar {
  position: absolute;
  height: 200px;
  width: 10px;
  left: 150px;
  top: 50px;
}

li {
  list-style-type: none;
  height: 200px;
  width: 20px;
  margin-left: 30px;
  width: 10px;
  background: white;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.overbar li {
  margin-top: 50px;
  margin-left: 28px;
  height: 50px;
  width: 14px;
  background: white;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.n0 { -webkit-transform: rotate(90deg); }
.n1 { -webkit-transform: rotate(162deg); }
.n2 { -webkit-transform: rotate(234deg); }
.n3 { -webkit-transform: rotate(306deg); }
.n4 { -webkit-transform: rotate(378deg); }

		