html, head, body {
    background-color: black;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: auto;
}

/* #symbol-img{
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 47.5%;
    display: block;
    margin: 0 auto;
    min-width: 30.5%;
    max-width: 30.5%;
    transform: translate(-50%, -50%);
    transition: all 1.5s ease;
    animation: fade-in 5.0s ease-in both;
    opacity: 1.0;
} */

.centered-element {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 0%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;

    /* transition: all 1.25s ease; */

    /* -webkit-animation: fade-in 2.0s ease-in both; */
    /* animation: fade-in 1.5s ease-in both; */
}

#symbol {
    display: block;
    /* cursor: pointer; */
    margin-left: auto;
    margin-right: auto;
    min-width: 60vh;
    max-width: 60vh;
    
    /* -webkit-transition: all 1.5s ease; */
    transition: all 1.5s ease;
}

.god-name{
    position: fixed;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: 'lovecraft', Georgia, 'Times New Roman', Times, serif;
    /* font-style: oblique; */
    font-size: 3vh;
    font-weight: lighter;
    transform: translate(-50%, -50%);
    transition: all 1.25s ease;
    text-align: center;
}

.god-name:hover{
    filter: drop-shadow(0px 0px 0.35em white);
}

#azatoth-name{
    left: -5vh;
    top: 32.5vh;
}

#nyarlathotep-name{
    left: 70vh;
    top: 32.5vh;
}

@font-face {
    font-family: 'lovecraft';
    src: url('media/lovecraft.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('media/lovecraft.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

.fade-out-left{
	animation: fade-out-left 0.6s ease-out both;
}

.fade-out-right{
	animation: fade-out-right 0.6s ease-out both;
}

.fade-in-right {
	animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-left {
	animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out-element{
    /* -webkit-animation: fade-out 1s ease-out both; */
    animation: fade-out 2.0s ease-out both;
}

.fade-in-element{
    /* -webkit-animation: fade-in 2.0s ease-in both; */
    animation: fade-in 2.0s ease-in both;
}

.fade-in-element-2{
    /* -webkit-animation: fade-in 2.0s ease-in both; */
    animation: fade-in 0.5s ease-in both;
}

.fade-out-element-2{
    /* -webkit-animation: fade-out 1s ease-out both; */
    animation: fade-out 0.5s ease-out both;
}

.text-box{

    position: fixed;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 60vh;
    max-width: 60vh;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 1.75vh;

    transform: translate(-50%, -20%);
    transition: all 1.25s ease;
    left: 35vh;
}

.banner{

    position: fixed;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 50vh;
    max-width: 50vh;

    transform: translate(-50%, -135%);
    transition: all 1.25s ease;
    left: 35vh;
}


.picture{

    position: fixed;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 60vh;
    max-width: 60vh;

    transform: translate(-50%, -50%);
    transition: all 1.25s ease;
    left:-35vh;

}


#arrow {
    /* positioning */
    position: fixed;
    margin-right: auto;
    margin-bottom: auto;
    left: 0.5vh;
    top: 95vh;
    display: block;
    z-index: 3;

    /* appearance */
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;

    border-top: 1.5vh solid transparent;
    border-right: 2.5vh solid white;
    border-bottom: 1.5vh solid transparent;
}

@keyframes fade-out-left {
    0% {
      opacity: 1;
    }
    100% {
        transform: translate(-25%, -50%);
      opacity: 0;
    }
}


@keyframes fade-out-right {
    0% {
    opacity: 1;
    }
    100% {
    transform: translate(-75%, -50%);
    opacity: 0;
    }
}

@keyframes fade-out-top{
    0% {
    opacity: 1;
    }
    100% {
    transform: translate(-50%, -25%);
    opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        /* transform: translate(-50%, -50%) scale(0.95); */
        opacity: 0;
    }
    100% {
        /* transform: translate(-50%, -50%) scale(1.0); */
        opacity: 1;   
    }
}

@keyframes fade-out {
    0% {
      opacity: 1;
      /* transform: translate(-50%, -50%) scale(1.0); */
    }
    100% {
      opacity: 0;
      /* transform: translate(-50%, -50%) scale(0.9); */
    }
}

 @keyframes fade-in-right {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in-left {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  